@model ComplaintPortal.Models.UpdateUserViewModel
@{
}

<h1>Process Complaint</h1>

<form method="post" class="mt-5" action="View">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>

    <div class="mb-3">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Complaint</label>
        <textarea class="form-control" rows="5" cols="3" asp-for="Complaint"></textarea>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Status</label>
        <input type="text" class="form-control" asp-for="Status">
    </div>
    
    @*<div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Status
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Resolved</a></li>
            <li><a class="dropdown-item" href="#">In Process</a></li>
            <li><a class="dropdown-item" href="#">Rejected</a></li>
        </ul>
    </div>*@


    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Users">Delete</button>
</form>
